@import "./ionic.globals";



// Locus Theme
// ----------------------------------

$colors: (

  primary:    #32908F,
  secondary:  #212D40,
  danger:     #364156,
  light:      #EFDDB8,
  dark:       #11151C,

) !default;


$text-color:                 #fff !default;
$link-color:                 color($colors, primary) !default;
$background-color:           #191919 !default;
$subdued-text-color:         #666 !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px

$content-padding:            16px !default;
$content-margin:             16px !default;

$toolbar-background:         #151515 !default;
$toolbar-border-color:       #11151C !default;
$toolbar-text-color:         $text-color !default;
$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     #EFDDB8 !default;

$tabs-background:            #EFDDB8 !default;
$tabs-border-color:          #11151C !default;
$tabs-tab-color-inactive:    #EFDDB8 !default;
$tabs-tab-color-active:      #212D40 !default;
$tabs-height:                 70px !default;
$tabs-ios-tab-font-size:         20px !default;
$tabs-ios-tab-font-weight:         700 !default;
$tabs-ios-tab-padding-top:    10px !default;
$tabs-md-tab-font-weight:    600 !default;
$tabs-wp-tab-font-weight:    600 !default;


$tabs-ios-tab-padding-bottom:    10px !default;
$tabs-ios-tab-text-font-size-side-icon: 50px !default;
$tabs-icon-size:              30px !default;

$list-text-color:            #fff !default;
$list-background-color:      #11151C !default;
$list-border-color: #000 !default;

