.tabs {
    $tabs-tab-color-inactive:    #32908F ;
    $tabs-tab-color-active:      #EFDDB8;
    $tabs-background:           #32908F;
    $tabs-ios-tab-icon-color:   #32908F;
    $tabs-ios-tab-text-color:    #32908F;
    $tabs-ios-tab-color-inactive:    #32908F ;
    color:  #32908F !important;;
       $color:  #32908F ;
}
