.float-right {
    float: right;
}
.firstListIcon{
    font-size: 60px;
    color: #EFDDB8;
}
.header{
    color:  #32908F;
    background-color: #32908F;
    border-color:  #32908F;
}
.title123{
    color: #11151C; 
    
}