.background-radar {
    animation: rotateRadar 5s infinite ease-in-out;
    color: black;
    background-color: black;
    $background-color: black;
}

@keyframes rotateRadar {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(8deg);
    }

    75% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}